@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');
html {
    scroll-behavior: smooth;
}
body, html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;


}

.bg {
    margin: 0;
    background-image: url("showcase.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #aaa;
}


#navBar {
    margin: 0;
    width: 100%;
    overflow: auto;
    position: fixed;
    background: black;
    padding: 10px;
}
#navBar a {
    float: left;
    /* padding: 12px; */
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 14.28%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
}
#typeWriter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 3rem;
    height: 80%;
}
#typeWriter h1, h2 {
    font-weight: 200;
    margin: 0.4rem;
}
#typeWriter h1 {
    font-size: 5rem;
}
#typeWriter h2 {
    font-size: 2rem;
}

.txt-type > .txt {
    border-right: 0.2rem solid #777;
}

#scrollButton {
    padding-left: 50%;


}
#scroll {
    height: 20px;
    margin-top: 100px;
}

#aboutMe {
    margin-left: 18%;
    margin-right: 18%;
    line-height: 35px;
    
}

h3 {

    font-size: 2rem;
    padding-bottom: 30px;
}
p {
    font-size: 1.3rem;
}
#education{
    background-color: rgba(8, 8, 8, 0.93);
    color: whitesmoke;
}
#educationContent {
    margin-left: 18%;
    margin-right: 18%;
}

#educationTitle {
    padding-top: 2.4rem;
    padding-bottom: 0px;
}

#school {
    font-size: 1.5rem;
    float: left;
}

#schoolDate {
    font-size: 1.5rem;
    float: right;
}
.clear {
    clear: both;
}

#educationContent h5 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 7px;
}
#courses {
    padding-bottom: 23px;
}



#experience{
    background-color: white;

}
#experienceContent {
    margin-left: 18%;
    margin-right: 18%;
}

#experienceTitle {
    padding-top: 1.3rem;
    padding-bottom: 0px;
}
.experienceNameDate {
    font-size: 1.5rem;
}

.place {
    font-size: 1.5rem;
    float: left;
}

.date {
    font-size: 1.5rem;
    float: right;
}

#experienceContent h5 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 7px;
}



#projects{
    background-color: rgba(8, 8, 8, 0.93);
    color: whitesmoke;
}
#projectsContent {
    margin-left: 18%;
    margin-right: 18%;
    padding-bottom: 10px;
    padding-top: 10px;
}

#projectsTitle {
    padding-top: 1.3rem;
    padding-bottom: 0;
}

.projectCard h4{
    font-size: 1.5rem;
}

#projects img {
    width: 100px;
    height: 100px;
    float: left;
    padding-right: 50px;
}

.projectCard ul{
    overflow: hidden;
}



#skills{
    background-color: white;
    color: black;

}
#skillsContent {
    margin-left: 18%;
    margin-right: 18%;
    background-color: white;padding
}

#skillsTitle {
    padding-top: 1.3rem;
    padding-bottom: 0px;
}


#skillsContent h4 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 7px;

}

.techContainer {
    margin: 0;
    width: 33.3333%;
    float: left;

}

#contact{
    background-color: black;
    color: white;
    padding: 10px;
}
#contactTitle {
    margin-left: 18%;
}
#contactContent img {
    width: 30px;
}
.contactIcon {
    float: left;
    width: 33%;
    text-align: center;
    

}
