body
{
	background-color:lightgrey;
	font-family: 'arial';
    font-size: 100%;
    /* max-width: 1200px; */
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
header a {
    color: grey;
}
header {
    background-color: whitesmoke;
    padding: 2%;
    align-content: center;

}
#imgcontainer {
    float: left;
}

#mepic{
    width: 300px;
    border-radius: 50%;
    margin-left: 30px;
}
#headertext {
    margin-top: 20px;
    margin-left: 370px;
    
}
#headertext img{
    width: 25px;
    margin-right: 20px;


}
#githubpic {
    border-radius: 50%;
}
header h1 {
    font-size: 60px;
    margin-bottom: 8px;
    margin-left: -2px   
    
}
header h2{
    margin-top: 8px;
    color: grey;

}
#linkedinpic {
    width: 30px;
}
#bio {
    background-color: whitesmoke;
}
#bio h2 {
    padding: 20px;
    padding-left: 35px;
    padding-top: 25px;
    text-decoration: underline;

}
#bio p {
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 20px;
    margin-top: -30px;
    line-height: 1.5;
}

#edu {
    background-color: whitesmoke;
    margin-top: 2%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-top: 1px;
    /* line-height: 1; */

}
#school {
    /* float: left; */
    color: black;
    text-decoration: underline;
}
#schoolDate {
    color: grey;
}
#major {


}
#edu p {

    margin-top: -13px;
}



#experience {
    background-color: whitesmoke;
    margin-top: 2%;
    padding: 10px;
    padding-top: 1px;
}
#projects {
    background-color: whitesmoke;
    margin-top: 2%;
    padding: 10px;
    padding-bottom: 110px;
    padding-top: 1px;
}
#projects img {
    width: 200px;
    float: left;
    margin-bottom: 45px;
    margin-left: 20px;
    margin-right: 30px;
}
#websitepic, #stockspic, #gamepic {
    border-radius: 50%;
}
.clear {
    clear: both;
}
#projects ul {
    margin-left: 250px;
}
#projects h3 {
    margin-top: 10px;
}
#contact {
    background-color: whitesmoke;
    padding-bottom: 10px;
    margin-bottom: 25px;


}
#contact h2 {
    padding: 10px;
    padding-top: 15px
}
#contact img {
    width: 20px;
}
#contact ul {
    list-style-type: none;
}
#skills {
    background-color: whitesmoke;
    margin-top: 2%;
    padding: 10px;
    padding-top: 1px;
}
#docs {
    background-color: whitesmoke;
    margin-top: 20px;
    padding: 10px;
    padding-top: 1px;

}
#colLeft {
    float: left;
    width: 75%;
    margin-top: 0;




}
#colRight {
    width: 22.95%;
    margin-left: 77%;
    margin-top: 13px;
    min-width: 100px;
}